@page
@model SSO.Web.Api.Areas.Admin.Pages.OrganizationsModel
@{
	ViewData["Title"] = "Organizações";
}
<h1>Organizações</h1>
<div class="card">
	<table>
		<thead><tr><th>Nome</th><th>Código</th><th>Id</th></tr></thead>
		<tbody>
		@foreach (var o in Model.Items)
		{
			<tr><td>@o.Name</td><td>@o.Code</td><td><code>@o.Id</code></td></tr>
		}
		</tbody>
	</table>
</div>
