@page
@model SSO.Web.Api.Areas.Admin.Pages.PermissionsModel
@{
	ViewData["Title"] = "Permissões";
}
<h1>Catálogo de permissões</h1>
<div class="card">
	<table>
		<thead><tr><th>Código</th><th>Nome</th></tr></thead>
		<tbody>
		@foreach (var p in Model.Items)
		{
			<tr><td><code>@p.Code</code></td><td>@p.Name</td></tr>
		}
		</tbody>
	</table>
</div>
