@page
@model SSO.Web.Api.Pages.Account.ExternalLoginModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>External login</title>
</head>
<body>
	<p>@Model.StatusMessage</p>
	<p><a href="/Account/Login">Back to login</a></p>
</body>
</html>
