@page
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>SSO</title>
</head>
<body>
	<h1>SSO Authorization Server</h1>
	<p>Use OIDC endpoints under <code>/connect/*</code>.</p>
	<p><a href="/Account/Login">Login</a></p>
</body>
</html>
